[Desktop Entry]
Type=Application
Name=JellyMusic
GenericName=Music Player
Comment=A modern, music-first Jellyfin client
Exec=jellymusic
Icon=io.github.daniel_hiller.jellymusic
Terminal=false
Categories=AudioVideo;Audio;Player;
Keywords=music;jellyfin;audio;player;stream;
StartupWMClass=jellymusic
